<div class="main-content-wrap">
  <div class="card-wrap">

    <div class="single-card-wrapper">
      <mat-card class="generic-card">
        <mapPanelGeneral></mapPanelGeneral>
      </mat-card>
    </div>



    <div class="single-card-wrapper">
      <mat-card class="generic-card">
        <mapPanelClouds></mapPanelClouds>
      </mat-card>
    </div>


    <div class="single-card-wrapper">
        <mat-card class="generic-card">
          <mapPanelCoord></mapPanelCoord>
        </mat-card>
      </div>


    
  </div>
</div>
