<mat-card-header>
  <div mat-card-avatar class="avatar-wrapper-cloud avatar-wrapper">
    <mat-icon id="panel-avatar">explore</mat-icon>
  </div>
  <mat-card-title>Weather forecast - Coordinates</mat-card-title>
  <mat-card-subtitle>Coordinates details</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Latitude:</h4>
      <p mat-line> {{weatherObjectToShow.coord.lat}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Longitude:</h4>
      <p mat-line> {{weatherObjectToShow.coord.lon}} </p>
    </mat-list-item>
  </mat-list>
</mat-card-content>
