<mat-card-header>
  <div mat-card-avatar class="avatar-wrapper-cloud avatar-wrapper">
    <mat-icon id="panel-avatar">assessment</mat-icon>
  </div>
  <mat-card-title>Weather forecast - State</mat-card-title>
  <mat-card-subtitle>State details</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-list>
    <mat-list-item *ngFor="let state of weatherObjectToShow.weather">
      <h4 mat-line>{{state.main}}:</h4>
      <p mat-line> {{state.description}} </p>
    </mat-list-item>
  </mat-list>
</mat-card-content>
