<mat-card-header>
  <div mat-card-avatar class="avatar-wrapper-cloud avatar-wrapper">
    <mat-icon id="panel-avatar">language</mat-icon>
  </div>
  <mat-card-title>Weather forecast - System</mat-card-title>
  <mat-card-subtitle>System details</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Country:</h4>
      <p mat-line> {{weatherObjectToShow.sys.country}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Id:</h4>
      <p mat-line> {{weatherObjectToShow.sys.id}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Message:</h4>
      <p mat-line> {{weatherObjectToShow.sys.message}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Sunrise:</h4>
      <p mat-line> {{weatherObjectToShow.sys.sunrise | date: "HH:mm:ss"}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Sunset:</h4>
      <p mat-line> {{weatherObjectToShow.sys.sunset | date: "HH:mm:ss"}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Type:</h4>
      <p mat-line> {{weatherObjectToShow.sys.type}} </p>
    </mat-list-item>
  </mat-list>
</mat-card-content>
