<mat-card-header>
  <div mat-card-avatar class="avatar-wrapper-cloud avatar-wrapper">
    <mat-icon id="panel-avatar">tune</mat-icon>
  </div>
  <mat-card-title>Weather forecast - Main</mat-card-title>
  <mat-card-subtitle>Main details</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Humidity:</h4>
      <p mat-line> {{weatherObjectToShow.main.humidity}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Pressure:</h4>
      <p mat-line> {{weatherObjectToShow.main.pressure}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Temperature:</h4>
      <p mat-line> {{weatherObjectToShow.main.temp}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Max. temperature:</h4>
      <p mat-line> {{weatherObjectToShow.main.temp_max}} </p>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Min temperature:</h4>
      <p mat-line> {{weatherObjectToShow.main.temp_min}} </p>
    </mat-list-item>
  </mat-list>
</mat-card-content>
